body {
    font-family: geovala;
    background-color: #F5ECE3;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-image: url(fondo.png);
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 2px solid #DDD;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #EFE8D9;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.shipping-policy {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.shipping-policy h2 {
    color: #333;
    margin-top: 20px;
}

.shipping-policy p, .shipping-policy ul {
    text-align: center;
}
