body {
    font-family: geovala;
    background-color: #F5ECE3;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-image: url(fondo.png);
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.product-details {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.product-info {
    max-width: 500px;
}
.product-info h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.product-info p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.product-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.product-info ul li {
    margin-bottom: 10px;
}
.product-info button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.precio {
    font-size: 18px;
    color: #d9534f;

    

